{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 37.1734995,
    "longitude": -3.5995337,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Casa",
    "time_zone": "Europe/Madrid",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "ES",
    "language": "es",
    "radius": 100
  }
}